<eda-dialog [inject]="dialog">
    <div class="m-1">
        <p i18n="@@conditionsP1">This app is a demo.</p>
        <p i18n="@@conditionsP2">It does not offer any guarantee and we are not responsible for the use made of it.</p>
        <p i18n="@@conditionsP3">Use it under your responsibility. - Thinkanalytics</p>
    </div>

    <p-footer class="footer">
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix text-right">
            <button type="button" pButton (click)="closeDialog()" class="p-button-raised p-button-danger" i18n-label="@@cerrarBtn" label="Close"></button>
        </div>
    </p-footer>
</eda-dialog>
